html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'icofont';
  src: url("../fonts/icofont.eot?-op6th0");
  src: url("../fonts/icofont.eot?#iefix-op6th0") format("embedded-opentype"), url("../fonts/icofont.woff?-op6th0") format("woff"), url("../fonts/icofont.ttf?-op6th0") format("truetype"), url("../fonts/icofont.svg?-op6th0#icofont") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: verdana, arial;
  background: #eeeeee; }

.center {
  text-align: center; }

#header {
  background: #009587;
  height: 14rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16); }
  #header h1 {
    text-align: center;
    padding: .5em 0;
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
    font-size: 36px;
    display: block;
    color: white;
    line-height: 6rem; }

.contentContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6rem;
  margin-bottom: 2rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  background: white;
  overflow: auto;
  padding: 4rem 2rem; }
  @media (min-width: 500px) {
    .contentContainer {
      width: 90%;
      max-width: 1125px; } }

figure.image {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative; }
  @media (min-width: 500px) {
    figure.image {
      width: 50%; } }
  @media (min-width: 1050px) {
    figure.image {
      width: 33.33333%; } }
  figure.image img {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media (min-width: 500px) {
      figure.image img {
        width: 90%; } }
    figure.image img:hover {
      opacity: 1; }
  figure.image a.download {
    position: absolute;
    bottom: 2rem;
    right: 0;
    color: white;
    text-decoration: none;
    padding: 6px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background: #009587;
    font-size: 1.5rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    figure.image a.download:before {
      font-family: 'icofont';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e600"; }
    figure.image a.download:hover {
      background: #006259; }

div#form {
  width: 300px;
  margin: auto; }
  div#form form label {
    display: block;
    font-family: 'Comfortaa', cursive; }
  div#form form input {
    display: block;
    width: 100%;
    margin: 0;
    height: 35px;
    margin-top: 7px;
    border: 1px solid #009587; }
    div#form form input[type=submit] {
      background: #009587;
      color: white; }
  div#form .errors {
    font-size: 11px;
    color: red; }
