@import 'partials/reset';
@import 'partials/vars';
@import 'partials/helpers';

body {
    font-family: verdana, arial;
    background: $background-color;
}

.center {
    text-align: center;
}

#header {
    background: $header-color;
    height: 14rem;
    @include shadow;
    h1 {
        text-align: center;
        padding: .5em 0;
        font: {
            family: 'Comfortaa', cursive;
            weight: normal;
            size: 36px;
        }
        display: block;
        color: white;
        line-height: 6rem;
    }
}

.contentContainer {
    width: 100%;
    margin: {
        left: auto;
        right: auto;
        top: -6rem;
        bottom: 2rem;
    }
    @include shadow;
    @include border-radius(2px);
    background: white;
    overflow: auto;
    padding: 4rem 2rem;
    @include mq-minwidth(500px) {
        width: 90%;
        max-width: 1125px;
    }
}

figure.image {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    @include mq-minwidth(500px) {
        width: 50%;
    }
    @include mq-minwidth(1050px) {
        width: 33.33333%;
    }
    img {
        display: block;
        width: 100%;
        @include mq-minwidth(500px) {
            width: 90%;
        }
        margin: auto;
        margin-bottom: 3rem;
        @include transition(all, .2s);
        &:hover {
            opacity: 1;
        }
    }
    a.download {
        position: absolute;
        bottom: 2rem;
        right: 0;
        color: white;
        text-decoration: none;
        padding: 6px;
        @include circle(55px);
        text-align: center;
        line-height: 37px;
        background: $accent-color;
        font-size: 1.5rem;
        @include shadow;
        @include transition(all, .2s);
        &:before {
            font-family: 'icofont';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e600";
        }
        &:hover {
            background: darken(#009587, 10);
        }
    }
}

div#form {
    width: 300px;
    margin: auto;
    form {
        label {
            display: block;
            font-family: 'Comfortaa', cursive;
        }
        input {
            display: block;
            width: 100%;
            margin: 0;
            height: 35px;
            margin-top: 7px;
            border: 1px solid $accent-color;
            &[type=submit] {
                background: $accent-color;
                color: white;
            }
        }
    }
    .errors {
        font-size: 11px;
        color: red;
    }
}
