html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

@font-face {
	font-family: 'icofont';
	src:url('../fonts/icofont.eot?-op6th0');
	src:url('../fonts/icofont.eot?#iefix-op6th0') format('embedded-opentype'),
	url('../fonts/icofont.woff?-op6th0') format('woff'),
	url('../fonts/icofont.ttf?-op6th0') format('truetype'),
	url('../fonts/icofont.svg?-op6th0#icofont') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: verdana, arial;
	background: #c3baae;
}

.center {
	text-align: center;
}

h1 {
	text-align: center;
	padding: .5em 0;
	font-size: 36px;
	font-weight: normal;
	display: block;
	text-align: center;
	color: #3b3838;
	font-family: 'Comfortaa', cursive;
}

figure.image {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	img {
		display: block;
		width: 100%;
		opacity: .8;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
		&:hover {
			opacity: 1;
		}
	}
	a.download {
		position: absolute;
		bottom: 0;
		right: 0;
		color: white;
		text-decoration: none;
		padding: 6px;
		width: 100%;
		text-align: right;
		background: #666;
		background: rgba(102,102,102,.8);

		background: -moz-linear-gradient(left,  rgba(102,102,102,0) 0%, rgba(102,102,102,0.8) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(102,102,102,0)), color-stop(100%,rgba(102,102,102,0.8)));
		background: -webkit-linear-gradient(left,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.8) 100%);
		background: -o-linear-gradient(left,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.8) 100%);
		background: -ms-linear-gradient(left,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.8) 100%);
		background: linear-gradient(to right,  rgba(102,102,102,0) 0%,rgba(102,102,102,0.8) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00666666', endColorstr='#cc666666',GradientType=1 );


		&:before {
			font-family: 'icofont';
			padding-right: 4px;
			//font-size: 18px;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\e600";
		}
	}
}

div#form {
	width: 300px;
	margin: auto;
	form {
		label {
			display: block;
			font-family: 'Comfortaa', cursive;
		}
		input {
			display: block;
			width: 100%;
			margin: 0;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			height: 35px;
			margin-top: 7px;
			border: 1px solid #649EBF;
			&[type=submit] {
				background: #649EBF;
				color: white;
			}
		}
	}
	.errors {
		font-size: 11px;
		color: red;
	}
}

@media (min-width: 500px) {
	figure.image {
		width: 50%;
	}
}


@media (min-width: 800px) {
	figure.image {
		width: 33.33333%;
	}
}

@media (min-width: 1050px) {
	figure.image {
		width: 25%;
	}
}

@media (min-width: 1600px) {
	figure.image {
		width: 20%;
	}
}
